In [2]:
import pandas as pd

# 1. Get the player names, player hometowns, school names, player positions, and school conferences for all players with position ‘QB’ or ‘WR’
```SQL
select player_name, hometown, players.school_name, position, conference from benn.college_football_players players
join benn.college_football_teams teams on players.school_name = teams.school_name
where position = 'QB' or position = 'WR'
```

In [5]:
path = "datasets/untitled_report-query_1-ca27d6ed9d81-2018-01-30-02-57-32.csv"
df = pd.read_csv(path)
df

,player_name,hometown,school_name,position,conference
0,Mekale McKay,"LOUISVILLE, KY",Cincinnati,WR,American Athletic
1,Bennie Coney,"PLANT CITY, FL",Cincinnati,QB,American Athletic
2,Johnny Holton,"MIAMI, FL",Cincinnati,WR,American Athletic
3,Munchie Legaux,"NEW ORLEANS, LA",Cincinnati,QB,American Athletic
4,Mark Barr,"FORT LAUDERDALE, FL",Cincinnati,WR,American Athletic
5,Anthony McClung,"INDIANAPOLIS, IN",Cincinnati,WR,American Athletic
6,Gunner Kiel,"COLUMBUS, IN",Cincinnati,QB,American Athletic
7,Brendon Kay,"MARINE CITY, MI",Cincinnati,QB,American Athletic
8,Chris Moore,"TAMPA, FL",Cincinnati,WR,American Athletic
9,Michael Colosimo,"FORT MITCHELL, KY",Cincinnati,QB,American Athletic
10,Jeremy Graves,"CLEVELAND, OH",Cincinnati,WR,American Athletic
11,Shaq Washington,"MAPLE HEIGHTS, OH",Cincinnati,WR,American Athletic
12,Tshumbi Johnson,"IMMOKALEE, FL",Cincinnati,WR,American Athletic
13,Chris Burrell,"WESTWOOD, NJ",Cincinnati,WR,American Athletic
14,Tim Helton,"CLEVELAND, OH",Cincinnati,WR,American Athletic
15,Alex Chisum,"FAYETTEVILLE, GA",Cincinnati,WR,American Athletic
16,Max Morrison,"KENTON, OH",Cincinnati,WR,American Athletic
17,Nate Cole,"MEMPHIS, TN",Cincinnati,WR,American Athletic
18,Jacob Giltrow,"WEST CHESTER, OH",Cincinnati,WR,American Athletic
19,Javon Harrison,"DAYTON, OH",Cincinnati,WR,American Athletic
20,Shakim Alonzo,"PITTSBURGH, PA",Cincinnati,WR,American Athletic
21,Dhameer Bradley,"NEW CASTLE, DE",Connecticut,WR,American Athletic
22,Kivon Taylor,"ATLANTA, GA",Connecticut,QB,American Athletic
23,Deshon Foxx,"LYNCHBURG, VA",Connecticut,WR,American Athletic
24,Chris DeBerry,"TORRINGTON, CT",Connecticut,QB,American Athletic
25,John Green,"MIAMI, FL",Connecticut,WR,American Athletic
26,Shakim Phillips,"PATERSON, NJ",Connecticut,WR,American Athletic
27,Kamal Abrams,"DOVER, DE",Connecticut,WR,American Athletic
28,Chandler Whitmer,"NEWNAN, GA",Connecticut,QB,American Athletic
29,Scott McCummings,"NATICK, MA",Connecticut,QB,American Athletic
...,...,...,...,...,...
4957,William Waddel,"HOUSTON, TX",Southern University,WR,SWAC
4958,Willie Quinn,"MIAMI, FL",Southern University,WR,SWAC
4959,Nico Talbert,"BATON ROUGE, LA",Southern University,WR,SWAC
4960,Desmond Vallean,"ATLANTA, GA",Southern University,WR,SWAC
4961,Chuck Baker,"SLIDELL, LA",Southern University,WR,SWAC
4962,Bradley Brown,"BATON ROUGE, LA",Southern University,WR,SWAC
4963,Thomas Jackson,"BATON ROUGE, LA",Southern University,WR,SWAC
4964,Dontrell Brown,"MORGAN CITY, LA",Southern University,WR,SWAC
4965,Mason Ceasar,"IOWA, LA",Southern University,WR,SWAC
4966,Randall Menard,"BREAUX BRIDGE, LA",Southern University,WR,SWAC
4967,Mike Jones,"BRYAN, TX",Southern University,WR,SWAC
4968,Fred Plummer,"MEMPHIS, TN",Texas Southern,WR,SWAC
4969,Malik Cross,"FORT WASHINGTON, MD",Texas Southern,WR,SWAC
4970,Jaquaa Peters,"COLUMBIA, MS",Texas Southern,WR,SWAC
4971,Homer Causey,"ATLANTA, GA",Texas Southern,QB,SWAC
4972,Dedric Shipman,"LAWRENCEVILLE, GA",Texas Southern,WR,SWAC
4973,Justice Jones,"PATTERSON, LA",Texas Southern,QB,SWAC
4974,Jay Christophe,"ADDIS, LA",Texas Southern,QB,SWAC
4975,Mario Smalls,"PLANO, TX",Texas Southern,QB,SWAC
4976,Tracy Johnson,--,Texas Southern,QB,SWAC
4977,Jamal Small,"ASBURY, NJ",Texas Southern,QB,SWAC
4978,Jeff Anderson,"DIXON, CA",Texas Southern,QB,SWAC
4979,Earnest Carrington,"HUMBLE, TX",Texas Southern,QB,SWAC
4980,Elson Lane Jr.,"MIAMI, FL",Texas Southern,WR,SWAC
4981,Trenton Richmond,"HOUSTON, TX",Texas Southern,WR,SWAC
4982,Darius Callies,"EDNA, TX",Texas Southern,WR,SWAC
4983,Steven Carpenter,"TULSA, OK",Texas Southern,WR,SWAC
4984,Larry Clark,"BAKER, LA",Texas Southern,WR,SWAC
4985,Jacolby Joseph,"HOUSTON, TX",Texas Southern,WR,SWAC
4986,Quintin Powell,"HOUSTON, TX",Texas Southern,WR,SWAC

# 2. Create a table that displays the average height of players at each position
```SQL
select avg(height) as avg_height, position from benn.college_football_players
where height != 0
group by position
order by avg_height desc
```

In [6]:
path = "datasets/untitled_report-query_1-ca27d6ed9d81-2018-01-30-02-50-51.csv"
df = pd.read_csv(path)
df

    avg_height position
0    77.134185       OT
1    75.773406       OL
2    75.720755       TE
3    75.696751        G
4    75.016393       DE
5    74.894040        C
6    74.571084       DL
7    74.349418       DT
8    74.111029       QB
9    74.089286       NT
10   73.256983        P
11   73.009202       LB
12   72.954430       LS
13   72.340485       WR
14   72.142857        ?
15   72.141479        S
16   71.973034       FB
17   71.613245        K
18   71.342603       DB
19   70.784205       CB
20   70.196438       RB

# 3. Write a query that find the top 5 tallest players, as well as their position, height, school, and the conference they belong to. 
```SQL
select player_name, position, height, players.school_name, conference from benn.college_football_players players
join benn.college_football_teams teams on players.school_name=teams.school_name
order by height desc
limit 5
```

In [7]:
path = "datasets/untitled_report-query_1-ca27d6ed9d81-2018-01-30-03-31-19.csv"
df = pd.read_csv(path)
df

           player_name position  height          school_name conference
0  John Gruenschlaeger       OT    83.0             Kentucky        SEC
1         Landon Smith       DL    82.0  Louisiana-Lafayette   Sun Belt
2          Dan Skipper       OT    82.0             Arkansas        SEC
3          Tyus Carter       DB    82.0              Citadel   Southern
4         Frances Mays       DE    82.0          Florida A&M       MEAC

# 4. Write a query that gets the company name, founding date, acquirer name, and acquisition date from the crunchbase database. 
```SQL
select name, founded_at, acquisitions.acquirer_name, acquisitions.acquired_at from tutorial.crunchbase_companies companies
join tutorial.crunchbase_acquisitions acquisitions on companies.name=acquisitions.company_name
```

In [8]:
path = "datasets/untitled_report-query_1-ca27d6ed9d81-2018-01-30-14-00-59.csv"
df = pd.read_csv(path)
df

,name,founded_at,acquirer_name,acquired_at
0,#waywire,6/1/12,Magnify,10/17/13
1,1000memories,7/1/10,Ancestry,10/3/12
2,12Society,1/1/12,Quarterly,7/3/13
3,280 North,NaN,Motorola Mobility,7/1/10
4,280 North,NaN,Motorola Solutions,7/1/10
5,2Web Technologies,NaN,Google,6/1/06
6,3Leaf,6/1/04,Huawei Technologies,2/19/11
7,3X Systems,11/1/07,Trustyd,10/25/12
8,4Home,1/1/06,Motorola Solutions,12/1/10
9,5to1,1/1/09,Yahoo!,5/1/11
10,60mo,6/1/09,FreeAgent,5/3/12
11,6Waves,1/1/11,6Waves,7/18/11
12,8x8 Inc,1/1/87,Contactual,9/15/11
13,A Bit Lucky,10/1/09,Zynga,9/17/12
14,about.me,2/5/13,AOL,12/20/10
15,about.me,2/5/13,Tony Conrad & Ryan Freitas,2/5/13
16,Accertify,3/1/07,American Express,11/1/10
17,Accumetrics,1/1/96,ITC,8/30/13
18,Accuri Cytometers,NaN,"(Becton, Dickinson and Company)",3/18/11
19,ACE*COMM,1/1/83,Ariston Global,9/24/08
20,Acopia Networks,1/1/02,F5 Networks,8/6/07
21,Actacell,NaN,Contour Energy Systems,9/6/12
22,Action Engine,2/1/00,Mobui,10/13/08
23,Acton Pharmaceuticals,NaN,Meda,8/30/13
24,Ad Infuse,11/1/05,Velti,5/12/09
25,Adap.tv,11/1/06,AOL,8/7/13
26,Adapt Technologies,1/1/01,WebVisible,11/20/08
27,adBrite,1/1/03,Site Scout,6/20/13
28,Adea,1/1/96,Valtech,12/22/10
29,AdECN,1/1/03,Microsoft,7/26/07
...,...,...,...,...
1643,Yedda,1/1/06,AOL,11/11/07
1644,YelloYello,9/1/07,Truvo,12/10/08
1645,Yield Software,1/1/07,Autonomy Corporation,9/30/11
1646,Yippy,1/1/06,Cinnabar Ventures,1/26/10
1647,Yoggie Security Systems,1/1/05,CUPP Computing,8/1/11
1648,Yoke,NaN,BuzzFeed,9/11/12
1649,Yostro,10/1/10,Dataware,4/1/11
1650,YouTube,2/1/05,Google,10/1/06
1651,Yub,1/1/13,Coupons.com,12/31/13
1652,Zannel,NaN,AVOS Systems,3/28/11
1653,Zappedy,1/1/10,Groupon,7/17/11
1654,Zappos,1/1/99,Amazon,7/22/09
1655,Zave Networks,1/1/06,Google,9/2/11
1656,Zecter,6/1/07,Motorola Mobility,12/22/10
1657,Zencoder,1/1/07,Brightcove,7/26/12
1658,Zenter,NaN,Google,6/1/07
1659,Zep Solar,1/1/09,SolarCity,10/9/13
1660,ZeroVM,5/1/11,Rackspace,11/3/13
1661,Zhijiang Jonway Automobile,NaN,ZAP,7/2/10
1662,Zinch,2/1/07,Chegg,9/15/11
1663,Zingku,1/1/05,Google,9/27/07
1664,Zipcar,10/31/00,Avis,1/2/13
1665,Ziplocal,1/1/06,Canpages,6/22/09
1666,Zite,3/9/11,CNN.com,8/31/11
1667,ZManda,1/1/05,Carbonite,10/18/12
1668,Zong,11/15/00,eBay,7/7/11
1669,Zoombu,7/1/08,Skyscanner,1/1/11
1670,ZoomSafer,1/1/09,Aegis Mobility,11/9/12
1671,Zubican,12/1/06,Inuvo,11/23/09
1672,Zyken - NightCove,1/1/05,Withings,9/1/13

# 5. Companies from which 10 cities have the highest average acquisition amount?
```SQL
select city, avg(price_amount) average from tutorial.crunchbase_companies companies
join tutorial.crunchbase_acquisitions acquisitions on companies.name=acquisitions.company_name
where price_amount > 0
group by city
order by average desc
limit 10
```